/* ============================================= */
/*            Sub-Folder Imports                 */
/* ============================================= */
/* ============================================= */
/*            Component Imports                 */
/* ============================================= */
/* ============================================= */
/*             Styling Variables                 */
/* ============================================= */
/* Color Variables */
/* Font Variables */
/* Transition Variables */
/* ============================================= */
/*                 Navigation                    */
/* ============================================= */
.navigation-container {
  background-color: #410505;
  width: 100vw;
  height: 68px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo-container p {
  margin: 5px 0px;
  padding-left: 12px;
  color: white;
  font-family: "Aldrich", sans-serif;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .logo-container p {
    margin-left: 8px;
  }
}

#logo-m-letter {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
  padding: 0px 5px;
  color: #410505;
  background-color: white;
  border-radius: 6px;
}

#logo-rest {
  display: none;
}

@media (min-width: 576px) {
  #logo-rest {
    display: inline;
    font-size: 1.7rem;
  }
}

.toggle-img {
  width: 45px;
  margin: 12px 16px 10px 10px;
}

.toggle-img:hover {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media (min-width: 768px) {
  .toggle-img {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .toggle-img {
    display: none;
  }
}

.links-container {
  background-color: #410505;
  width: 100vw;
  height: 400px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 65px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media (min-width: 992px) {
  .links-container {
    right: 0px;
    top: 0px;
    width: auto;
    background-color: transparent;
    height: 65px;
    padding-right: 30px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.navigation-links {
  margin-top: 70px;
  padding: 0px;
  text-align: center;
  font-family: "Aldrich", sans-serif;
  font-size: 1.25rem;
}

.navigation-links > li {
  margin-top: 20px;
  list-style: none;
  color: white;
  text-shadow: 2px 2px #000;
}

@media (min-width: 992px) {
  .navigation-links > li {
    margin: 0px;
    padding: 0px 15px;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 68px;
    border-radius: 2px;
  }
  .navigation-links > li:hover {
    background-color: white;
    color: #410505;
    text-shadow: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
}

@media (min-width: 992px) {
  .navigation-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 0px;
  }
}

/* ============================================= */
/*                     Header                    */
/* ============================================= */
#hero-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("../images/chalk-prep-bw.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  #hero-container {
    background-image: url("../images/shoulder-press-bw.jpg");
  }
}

.hero-text-container {
  padding-top: 65px;
}

.hero-text-container h1 {
  font-family: "Allerta Stencil", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 5.1rem;
  text-shadow: 8px 2px 2px #410505;
  text-align: center;
}

@media (min-width: 576px) {
  .hero-text-container h1 {
    display: none;
  }
}

.hero-text-container h1 span {
  font-family: "Aldrich", sans-serif;
  font-size: 3.6rem;
  text-shadow: 1px 1px 1px black;
}

@media (min-width: 576px) {
  .hero-text-container {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .hero-text-container {
    padding-top: 150px;
  }
}

@media (min-width: 992px) {
  .hero-text-container {
    padding-top: 250px;
  }
}

@media (min-width: 1200px) {
  .hero-text-container {
    padding-top: 100px;
  }
}

.hero-text-container h3 {
  font-size: 1.8rem;
  font-weight: 100;
  color: white;
  text-align: center;
}

@media (min-width: 576px) {
  .hero-text-container h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hero-text-container h3 {
    font-size: 3rem;
    padding: 10px 0px;
  }
}

.hero-text-container h5 {
  margin-top: 60px;
  padding: 0px 15px;
  color: white;
  font-weight: 200;
  text-align: center;
  text-shadow: 3px 3px 4px black;
}

@media (min-width: 576px) {
  .hero-text-container h5 {
    margin-top: 30px;
    padding: 0px 50px;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .hero-text-container h5 {
    margin-top: 200px;
    font-size: 1.8rem;
  }
}

#your-text {
  font-family: "Sarina", cursive;
  padding-top: 100px;
}

@media (min-width: 576px) {
  #your-text {
    padding-top: 45px;
  }
}

#last-text {
  font-family: "Gugi", cursive;
}

#ft-text {
  font-family: "Aldrich", sans-serif;
}

/* ============================================= */
/*                    Button                     */
/* ============================================= */
button {
  background-color: #410505;
  color: white;
  width: 170px;
  height: 50px;
  margin-top: 30px;
  border: 2px solid #410505;
  border-radius: 48px;
  font-family: "Aldrich", sans-serif;
  font-size: 1.4rem;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
}

button:hover {
  background-color: #830b0b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-color: #830b0b;
}

button:focus {
  outline: none;
}

@media (min-width: 576px) {
  button {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  button {
    width: 190px;
    height: 55px;
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  button {
    width: 200px;
    height: 60px;
    font-size: 1.7rem;
    border-radius: 48px;
  }
}
/*# sourceMappingURL=styles.css.map */