/* ============================================= */
/*            Sub-Folder Imports                 */
/* ============================================= */
/* ============================================= */
/*            Component Imports                 */
/* ============================================= */
/* ============================================= */
/*             Styling Variables                 */
/* ============================================= */
/* Color Variables*/
/* Font Variables*/
/* ============================================= */
/*                 Navigation                    */
/* ============================================= */
.navigation-container {
  background-color: #410505;
  height: 65px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo-container p {
  margin: 3px 0px;
  padding-left: 12px;
  color: white;
  font-family: "Aldrich", sans-serif;
  font-size: 2.5rem;
}

#logo-m-letter {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
  padding: 0px 5px;
  color: #410505;
  background-color: white;
  border-radius: 6px;
}

#logo-rest {
  display: none;
}

.links-container {
  background-color: #410505;
  width: 100vw;
  height: 400px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 65px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.toggle-img {
  width: 45px;
  margin: 10px;
}

.toggle-img:hover {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navigation-links {
  margin-top: 70px;
  padding: 0px;
  text-align: center;
  font-family: "Aldrich", sans-serif;
  font-size: 1.25rem;
}

.navigation-links > li {
  margin-top: 20px;
  list-style: none;
  color: white;
  text-shadow: 2px 2px #000;
}

/* ============================================= */
/*          Background Image for Hero            */
/* ============================================= */
#hero-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("../../images/chalk-prep-bw.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text-container {
  padding-top: 65px;
}

.hero-text-container h1 {
  font-family: "Allerta Stencil", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 5.1rem;
  text-shadow: 8px 2px 2px #410505;
  text-align: center;
}

.hero-text-container h1 span {
  font-family: "Aldrich", sans-serif;
  font-size: 3.6rem;
  text-shadow: 1px 1px 1px black;
}

.hero-text-container h3 {
  font-size: 1.8rem;
  font-weight: 100;
  color: white;
  text-align: center;
}

.hero-text-container h5 {
  margin-top: 60px;
  color: white;
  font-weight: 200;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

#your-text {
  font-family: "Sarina", cursive;
  padding-top: 100px;
}

#last-text {
  font-family: "Gugi", cursive;
}

#ft-text {
  font-family: "Aldrich", sans-serif;
}

/* ============================================= */
/*                    Button                     */
/* ============================================= */
button {
  background-color: #410505;
  color: white;
  width: 170px;
  height: 50px;
  margin-top: 30px;
  border: 2px solid #410505;
  border-radius: 24px;
  font-family: "Aldrich", sans-serif;
  font-size: 1.4rem;
}

button:hover {
  background-color: #830b0b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-color: #830b0b;
}

button:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */