/* ============================================= */
/*                     Header                    */
/* ============================================= */

#hero-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("../../images/chalk-prep-bw.jpg");
  background-size: cover;
  background-position: center;
  @media (min-width: 576px) {
    background-image: url("../../images/shoulder-press-bw.jpg");
  }
}

.hero-text-container {
  padding-top: 65px;
  h1 {
    font-family: $font-1;
    color: white;
    font-weight: 500;
    font-size: 5.1rem;
    text-shadow: 8px 2px 2px $color-1;
    text-align: center;
    @media (min-width: 576px) {
      display: none;
    } 
    span {
      font-family: $font-2;
      font-size: 3.6rem;
      text-shadow: 1px 1px 1px black;
    }
  }
  @media (min-width: 576px) {
    padding-top: 0;
  }
  @media (min-width: 768px) {
    padding-top: 150px;
  }
  @media (min-width: 992px) {
    padding-top: 250px;
  }
  @media (min-width: 1200px) {
    padding-top: 100px;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 100;
    color: white;
    text-align: center;
    @media (min-width: 576px) {
      font-size: 1.5rem;
    }
    @media (min-width: 768px) {
      font-size: 3rem;
      padding: 10px 0px;
    }
  }

  h5 {
    margin-top: 60px;
    padding: 0px 15px;
    color: white;
    font-weight: 200;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    @media (min-width: 576px) {
      margin-top: 30px;
      padding: 0px 50px;
      font-size: 1.1rem;
    }
    @media (min-width: 768px) {
      margin-top: 200px;
      font-size: 1.8rem;
    }
  }
}

#your-text{
  font-family: $font-3;
  padding-top: 100px;
  @media (min-width: 576px) {
    padding-top: 45px;
  }
}

#last-text{
  font-family: $font-4;
}

#ft-text{
  font-family: $font-2;
}