
/* ============================================= */
/*                 Navigation                    */
/* ============================================= */

.navigation-container {
  background-color: maroon;
}

.logo-container {
  p {
    margin: 0px;
  }
}

.navigation-links {
  width: 100vw;
  height: 200px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 100px;
  text-align: center;
  > li {
    list-style: none;
    color: white;
  }
}
