
/* ============================================= */
/*                 Navigation                    */
/* ============================================= */

.navigation-container {
  background-color: maroon;
}

.logo-container {
  p {
    margin: 0px;
  }
}

.navigation-links {
  margin: 0px;
  > li {
    list-style: none;
    color: white;
  }
}
